{% load static %}

<!DOCTYPE html>
<html>
<head>
  {% block head %}
  {% include 'pages/head.html' %}
  {% endblock %}
</head>
<body>
  <a href="/">
  <img id="title" src="{% static 'pages/images/title.png' %}">
  </a>
  {% block body %}
  {% endblock %}

  {% block footer %}
  {% include 'pages/footer.html' %}
  {% endblock %}
</body>
</html>
