{% load static %}
<div class="center-aligned">
  <br><br>
  <a target="_blank" href="https://www.facebook.com/avozrouca/">
    <img src="{% static 'pages/images/fb.svg' %}"
         style="width:35px;padding:10px">
  </a>
  <a target="_blank" href= "mailto:vozrouca@riseup.net">
    <img src="{% static 'pages/images/email.svg' %}"
         style="width:35px;padding:10px">
  </a>
  <a target="_blank" href= "https://www.instagram.com/avozrouca/">
    <img src="{% static 'pages/images/instagram.svg' %}"
         style="width:35px;padding:10px">
  </a>
</div>
