{% load thumbnail %}

<picture>
  <source media="(max-width: 400px)" srcset="{{ img|thumbnail_url:'w200' }}">
  <source media="(max-width: 500px)" srcset="{{ img|thumbnail_url:'w250' }}">
  <img src="{{ img|thumbnail_url:'w325' }}" style="width:45%">
</picture>
