{% load static %}
<title>A Voz Rouca</title>
<meta charset="utf-8">
<meta name="keywords" content="voz,rouca">
<meta name="description" content="Boletins do Voz Rouca">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="{% static 'pages/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'pages/fonts.css' %}">
{% if css_content %}
  {% spaceless %}
    <style>{{ css_content|safe }}</style>
  {% endspaceless %}
{% else %}
  <link rel="stylesheet" href="{% static 'pages/style.css' %}">
{% endif %}
