{% extends 'pages/base.html' %}

{% block body %}
  <br><br>

  <div class="edicoes">
    {% for section, images in sections %}
    <a href="{% url 'section' section.slug %}">
      <h1 class="numero" style="font-size:45">{{ section.title }}</h1>
      <div class="center-aligned">
        {% if images|length > 1 %}
          {% include 'pages/half_picture.html' with img=images.0 %}
          {% include 'pages/half_picture.html' with img=images.1 %}
        {% elif images|length > 0 %}
          {% include 'pages/picture.html' with img=images.0 %}
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
{% endblock %}
