{% extends 'pages/base.html' %}

{% load static %}

{% block body %}
<div id="edicoes">
  {% if page.show_title %}<h1 class="numero">{{ page.title }}</h1>{% endif %}
  {% for image in images %}
  {% if not forloop.counter|divisibleby:2 %}
  <div class="center-aligned">
  {% endif %}
  <a target="_blank" href="{{ image.image.url }}">
    {% include 'pages/half_picture.html' with img=image.image %}
  </a>
  {% if forloop.counter|divisibleby:2 or forloop.last %}
  </div>
  {% endif %}
  {% endfor %}

  {% if page.pdf %}
  <div class="center-aligned">
  <a  href="{{ page.pdf.url }}">
    <br>
    <img src="{% static 'pages/images/pdf-logo.png' %}" style="width: 35px">
  </a>
  </div>
  {% endif %}
  {% if page.text %}{{ page.text|safe }}{% endif %}
</div>
{% endblock %}
