{% load thumbnail %}

<picture>
  <source media="(max-width: 400px)" srcset="{{ img|thumbnail_url:'w400' }}">
  <source media="(max-width: 500px)" srcset="{{ img|thumbnail_url:'w500' }}">
  <img src="{{ img|thumbnail_url:'w650' }}" style="width:92.5%">
</picture>
