{% extends 'pages/base.html' %}

{% block body %}
  <div id="edicoes">
    {% for page, images in pages %}
    <h1 class="numero"><a href="{{ page.slug }}">{{ page.title }}</a></h1>
    <div class="center-aligned">
    <a href="{{ page.slug }}">
      {% if images|length > 1 %}
        {% include 'pages/half_picture.html' with img=images.0 %}
        {% include 'pages/half_picture.html' with img=images.1 %}
      {% elif images|length > 0 %}
        {% include 'pages/picture.html' with img=images.0 %}
      {% endif %}
    </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}
