/* FORMATTING */

body {
    max-width: 650px;
    margin: auto;
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
    padding: 8px;
    background-image: url("images/boca05.png");
    background-position: center;
    background-repeat: repeat;
}

#title {
  width: calc(100% - 10px) /* 5px padding */
}

h1, h2, h3, h4 {
    font-family: 'glecb', serif;
    text-align: center;
    padding: 0px;
    margin: 10px;
    margin-top: 20px;
    color: black;
}

h2, h3, h4 {
    padding-top: 30px;
    padding-bottom: 15px;
}

p {
    font-family: serif;
    text-align: justify;
    padding: 0px;
    margin: 10px;
}

cite {
  font-style: normal;
}

ul {
    margin: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

img {
    padding: 5px;
    margin: 0;
    border: 0;
}

p > img {
  width: 100%;
}

/* https://gist.github.com/unruthless/413930 */
sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.2em;
  padding: 0.1em;
}


/* Remove annoying line under links and it's ugly blue color */
a {
   text-decoration: none;
   color: black;
}


/* Classes for general purposed use */

.right-aligned {
    text-align: right;
}

.center-aligned {
    text-align: center;
}

.numero {
    font-family: 'glecb';
    text-align: center;
}



/* ACTION */
/* focused and hovered (mouse over) get white*/

a:focus {
    color: rbg(0%, 0%, 0%)
;
}

a:visited {
    color: rgb(0%, 0%, 0%);
}

a:hover {
    color: rgb(0%, 0%, 0%)
}

a:active {
    color: rgb(0%, 0%, 0%)
}

cite > a,
p > a {
  text-decoration: underline;
}

